[Unit]
Description=Bert Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Mentara/microservices/bert
ExecStart=python3 bert_service.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target